body,
html {
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffffff;
  padding: 10px 0;
  position: relative;
  z-index: 2;
}

/* Inicio Header */
.slider-container {
  background-image: url(rest1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.transparent-header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
  background: none; /* Eliminamos cualquier color de fondo */
}

.transparent-header nav ul {
  background-color: transparent; /* Hacemos el fondo de la lista transparente */
  padding: 0;
  text-align: center; /* Centramos los elementos */
}

.transparent-header nav ul li {
  display: inline-block;
  margin: 0 10px;
  border: 2px solid transparent; /* Añadimos un borde transparente */
  border-radius: 5px;
}

.transparent-header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 8px 16px;
  transition: border-color 0.3s, background-color 0.3s; /* Añadimos una transición para el color del borde y el fondo */
}

.transparent-header nav ul li a:hover {
  border-color: rgb(
    255,
    94,
    0
  ); /* Cambiamos el color del borde al pasar el ratón por encima */
  background-color: rgb(255, 94, 0); /* Añadimos el tono naranja al fondo */
  border-radius: 10px;
}

.transparent-header nav ul li a.active {
  background-color: rgb(255, 136, 0);
  border-color: rgb(255, 136, 0);
  color: #333;
}

.transparent-header nav ul li a.active:hover {
  border-color: rgb(255, 136, 0);
}

/* Fin Header */

/* Inicio Slider */
.slider {
  background-image: url(rest1.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  animation: animate 20s infinite;
  position: relative;
  z-index: 1;
}
/* Texto encima de imagen */
.texto-img {
  text-align: center;
  font-size: 35px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
@keyframes animate {
  0% {
    background-image: url(rest7.jpg);
  }
  20% {
    background-image: url(rest2.jpg);
  }
  40% {
    background-image: url(rest3.jpg);
  }
  60% {
    background-image: url(rest4.jpg);
  }
  80% {
    background-image: url(rest5.jpg);
  }
  100% {
    background-image: url(rest6.jpg);
  }
}
/* Fin Slider */

/* About Us */
.papitas {
  padding: 70px 0px;
  background: #ffffff url(about.jpg) no-repeat bottom center;
  background-size: cover;
}
.contenedor {
  margin: 50px;
  display: flex;
  align-items: center;
  position: relative;
  color: #000000;
  padding: 100px 0;
}

.columna-izquierda {
  flex: 1;
  padding: 40px;
  text-align: left; /* Alinea el texto a la izquierda */
  line-height: 1.9; /* Ajusta el espacio entre las lineas */
}

.columna-derecha {
    flex: 1;
    padding: 20px;
    text-align: left; /* Cambiado a izquierda */
  }
  
  .imagen-container {
    max-width: 100%;
    margin: 0 auto;
    text-align: left; /* Alinea la imagen a la izquierda */
  }
  
/* Fin About Us */
