body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* pseudoclases */
/* pseudoclase "hover" */
nav a:hover {
    background: rgb(0, 0, 0);
} /* El usuario esta sobre el enlace */

/* pseudoclase "active" */
nav a:active {
    color: rgb(255, 0, 200);
} /* Enlaces activos */
  
/* pseudoclase checked */
#reservacion input[type="checkbox"]:checked + label {/* Selecciona etiquetas que 
    siguen a casillas de verificación marcadas dentro de la sección con ID 
    "reservacion" */
    color: rgb(255, 94, 0); /* Cambia el color del texto cuando está marcado */
}

#reservacion button[type="submit"] {
    background-color: #cc00ff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#reservacion button[type="submit"]:hover {
    background-color: #007bff; /* Cambia el color del botón al pasar el mouse 
    sobre él */
}

/* transiciones */

/* opacidad */
header {
    opacity: 1; /* Establece la opacidad del elemento header a 1 
    (completamente visible) por defecto */
    transition: opacity 0.5s ease; /* Establece una transición suave de 0.5 
    segundos para la propiedad de opacidad */
}

header:hover {
    opacity: 0.8; /* Cuando el mouse se coloca sobre el elemento header, 
    la opacidad se reduce a 0.8 (menos visible) */
}
    
  footer {
    background-color: #5a5a5a;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    position: relative;
    clear: both;
} 